
<div class="container content-wrap">


        {{#if error}}
        <p>{{error}}</p>
        {{else}}

{
  "data": {
    "videos": [ 
                    {{#each meta.formats}}

       {
        "url": " {{url}}",
        "format": "{{format_note}}",
        "size": "{{filesize}}"
      },  



                    {{/each}}
  ]
  }
}
        {{/if}}

